<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>  
  <log4net>
    <appender name="CONSOLE" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-utcdate{dd MMM yyyy HH:mm:ss.fff} - %-4timestamp [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="COLORED_CONSOLE" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-utcdate{dd MMM yyyy HH:mm:ss.fff} - %-4timestamp [%-5level] %logger - %message%newline" />
      </layout>
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
        <backColor value="Blue, HighIntensity" />
      </mapping>
    </appender>
    <root>
      <level value="ERROR" />      
      <appender-ref ref="COLORED_CONSOLE" />
    </root>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="dataprovider" value="System.Data.SQLite"/>
    <add key="datasource" value="Data Source=FT.db3"/>
    <add key="schema" value="schema.sql"/>
    <add key="seed" value="seed.sql"/>
    <add key="patch" value="patch.sql"/>
    <add key="db_refresh" value="true"/>
    <add key="logging" value="log4net.config"/>    
  </appSettings>
</configuration>
